:root {
    --main-color: #3805F2;
    --text-color: #606060;
    --accent-color: #8350F2;
    --mainbc-color: #F2F2F2;
    --color3: #F28C0F;
    --color4: #D9A404;

}

.text-main {
    color: var(--text-color);
}

.text-accent {
    color: var(--accent-color);
}

.bg-main {
    background-color: var(--mainbc-color);
}

.color-text3 {
    color: var(--color3);
}

.color-text4 {
    color: var(--color4);
}


body {

    font-family: 'Jost', sans-serif;
}

.tarjetacredito{

height: 80%;
width: 50%;

}

.icono{
    margin-top: 13px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items:center;
    

}

.fondoicono{
height: 50px;
width: 50px;
background-color: aqua;

}
.parrafooter{

margin-top: 20px;
}
.listadesordenada{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        list-style: none;
        
        

}